h2{
    padding: 3em;
}

section:nth-of-type(2n+2)>ol>li:nth-child(2n+2){
    background-color: lightskyblue;
    padding: 2em;
}

section:nth-of-type(2n+1)>ol>li:nth-last-child(2n+3){
    background-color: lightpink;
    padding: 2em;
}

ol>li{
    padding: 2em;
}
